{% load static %}	

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<head>
	<title>Sistema de Manutenção Preventiva</title>
</head>
<body>
<div class='container'>

	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="/home">Home</a></li>
	  <li role="presentation"><a href="/manutencao">Listar Manutenções</a></li>
	  <li role="presentation"><a href="/manutencao/criar">Criar Manutenção</a></li>
	  <li role="presentation"><a href="/logout">Logout</a></li>
	</ul>

	<h1>Sistema de Manutenção Preventiva</h1>
	<br>
	<h4> Olá, {{ user.nome }}</h4>
	<br>
	<div class='panel panel-default'>
	<div class='panel-heading'> Lista de Equipamentos</div>
	<table class='table'>
		<tr>
		<th>Equipamento</th>
		<th>Fabricante</th>
		<th>Status</th>
		<th>Departamento</th>
		</tr>
		{% for eqp in equipamentos %}
		<tr>
			<td>{{ eqp.nome }}</td>
			<td>{{ eqp.fabricante }}</td>
			<td>{{ eqp.status.nome}} </td>
			<td>{{ eqp.departamento.nome }}</td>
		</tr>
		{% endfor %}
	</table>
	</div>
</div>
</body>

